@model TheatreCMS3.Areas.Blog.Models.BlogPost

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4 class="blogpost-createandedit-header">Edit Blog Post</h4>
    <hr />
    <div class="blogpost-createandedit-container">
        <div class="blogpost-createandedit-container-container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.BlogPostId)

            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @placeholder = "Edit Title", @class = "form-control blogpost-createandedit-txtbox" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @placeholder = "Edit Content", @class = "form-control blogpost-createandedit-txtbox" } })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Posted, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Posted, new { htmlAttributes = new { @placeholder = "Edit Date Posted", @class = "form-control blogpost-createandedit-txtbox" } })
                    @Html.ValidationMessageFor(model => model.Posted, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @placeholder = "Edit Author Name", @class = "form-control blogpost-createandedit-txtbox" } })
                    @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default blogpost-edit-savebutton" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default blogpost-createandedit-backbutton" })
                </div>
            </div>
        </div>
     </div>
 </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
